.TodoCounter {
  font-size: var(--lg);
  font-weight: 300;
  padding: 48px;
  text-align: center;
}

.TodoCounter span {
  font-weight: bold;
}

.TodoInput {
  width: calc(100% - 64px);
  height: 64px;
  margin: 0 24px;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  background: white;
  text-align: center;
  font-size: var(--lg);
  font-weight: lighter;
  
}

.TodoInput:focus {
  border: 2px solid #61dafa;
}

.TodoList {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0 0 56px;
}

.TodoItem {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--white);
  margin-top: 24px;
}

.Icon {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: var(--lg);
  font-weight: bold;
  color: var(--text-input-light);
  cursor: pointer;
}

.Icon-Check {
  left: 24px;
}

.Icon-Check:hover {
  color: green;
}

.Icon-Check--active {
  color: green;
}

.TodoItem-p {
  font-size: var(--md);
  margin: 24px 0 24px 24px;
  width:calc(100% - 120px);
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon-Delete {
  right: 24px;
  top: -12px;
}

.Icon-Delete:hover {
  color: red;
}

.CreateTodoButton {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  background: var(--primary);
  color: var(--white);
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  transform: rotate(0);
  transition: .3s ease;
  justify-content: center;
  z-index: 1;
}

.CreateTodoButton:hover {
  transform: rotate(224deg);
}